<%= stylesheet_link_tag "style2.css" %>


<div class="row py-5 px-4"> <div class="col-md-5 mx-auto"> 
<!-- Profile widget --> 
<div class="bg-white shadow rounded overflow-hidden"> 
<div class="px-4 pt-0 pb-4 cover"> 
<div class="media align-items-end profile-head"> 
<% if !current_user %>
<div class="media-body mb-5"> 
<h4 class="mt-0 mb-0"><%= @user.username %></h4> 
<p class="small mb-4"> </p>
</div>
<%end%>
<div class="profile mr-3">
<%= image_tag(@user.avatar_thumbnail)%>

<% if current_user %>

<% if @user == current_user %>
<%= button_to "Modifica il profilo", edit_user_registration_path, method: :get, class: "btn btn-outline-warning btn-sm btn-block", id:"btn1" %>
<% end %>
</div> 
<div class="media-body mb-5"> 
<h4 class="mt-0 mb-0"><%= @user.username %></h4> 
<p class="small mb-4"> 
<% if @user == current_user %>
    <%= button_to 'Aggiungi Libro', new_book_path, method: :get, class: "btn btn-outline-success", id:"btn2" %>
<%end%>

<% if @user != current_user %>

    
    <% if current_user.following?(@user) %>
      <%= button_to "Unfollow", unfollow_user_path(@user), method: :delete , class: "btn btn-outline-danger", id:"btn3"%>

    <% else %>
      <%= button_to "Follow", follow_user_path(@user) , method: :post , class: "btn btn-outline-success", id:"btn4" %>
    <% end %>
    
<% end %>

<% end %>


<i class="fas fa-map-marker-alt mr-2"></i></p> 
</div> 
</div> 
</div> 
<div class="bg-light p-4 d-flex justify-content-end text-center"> 
<ul class="list-inline mb-0"> 
<li class="list-inline-item"> 
<h5 class="font-weight-bold mb-0 d-block"><%= @user.books.size %></h5><small class="text-muted"> 
<i class="fas fa-image mr-1">
</i>Libri pubblicati</small> 
</li> 
<li class="list-inline-item"> 
<h5 class="font-weight-bold mb-0 d-block"><%= @user.followers_count %></h5>
<small class="text-muted"> 
<i class="fas fa-user mr-1">
</i><%= link_to "Followers", follows_index_followers_user_path(@user) %></small> 
</li> 
<li class="list-inline-item"> 
<h5 class="font-weight-bold mb-0 d-block"><%= @user.following_by_type('User').size %></h5>
<small class="text-muted"> 
<i class="fas fa-user mr-1"></i><%= link_to "Follows", follows_index_following_user_path(@user) %></small> 
</li> 
</ul> 
</div> 
<div class="px-4 py-3"> <h5 class="mb-0">I tuoi preferiti:</h5> 
<div class="p-4 rounded shadow-sm bg-light"> 

<% @user.following_by_type('Book').each do |book| %>

<%= link_to book.titolo, book_path(book) %> <br>

<% end %>

</div> 
</div> 
<div class="py-4 px-4"> 
<div class="d-flex align-items-center justify-content-between mb-3"> 
<h5 class="mb-0">I tuoi libri:</h5>
</div> 
</div> 
</div> 
</div> 
</div> 
</div>
</div>

<section class="container">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

      <% Book.all.each do |book| %>
        <% if book.user == @user %>
          <div class="col mb-5">
            <div class="card" style="width: 18rem;">
              <%= image_tag book.cover.url(:medium), class: "card-img-sm-left" %>
              <div class="card-body" style="padding: 0.5em 1.2em;">
                <!-- Resto del contenuto della card -->
                <div class="card-text">
                    Genere: <%= book.genere %>
                 </div>
              <p class="card-text"><%= book.trama %></p>
                <%= link_to "Leggi", book , class:"card-link" %>
                <br>
                <% if current_user != book.user %>
                  
                  <% if current_user.following?(book) %>
                   <%= button_to "Rimuovi dai preferiti", unfollow_book_path(book), method: :delete, class: "btn btn-outline-danger", id:"btn3" %>

                 <% else %>
                   <%= button_to "Aggiungi ai preferiti", follow_book_path(book), method: :post, class: "btn btn-outline-success", id:"btn4" %>
                 <% end %>

                <%end%>
               <% if book.user == current_user %>
                    <%= link_to "Modifica la storia", edit_book_path(book) %>
                    <%= button_to "Cancella la storia", book, method: :delete, class:"distr" %>
                <%end%>

              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</section>




  


      
  
