<%= stylesheet_link_tag "style.css" %>
<div class="contenitore3">
<%= form_with model: @book do |form| %>
<div class="sottocontenitore3">
  <div class="partecommento3">
    <%= form.label :titolo, id:"labelt3" %><br>
    <%= form.text_field :titolo, id:"titolo" %>
    
  </div>

  <div class="partecommento3">
    <%= form.label :trama, id:"labelt3" %><br>
    <%= form.text_area :trama, id:"trama" %><br>
    
  </div>
  

  <div class="partecommento3">
    <%= form.label :tag, id:"labelt3" %><br>
    <%= form.text_field :tag, id:"tag" %><br>
    
  </div>

  <div class="partecommento3">
    <%= form.label :genere, id:"labelt3" %><br>
    <%= form.text_field :genere, id:"genere" %><br>
   
  </div>

  <div class="partecommento3">
    <div class="subparte">
    <%= form.label :Copertina, id:"labelt3" %><br>
    <%= form.file_field :cover, id:"file" %>
    <div>
  </div>

  <div class="partecommento3">
    <%= form.submit :id => "botto2" %>
  </div>
</div>
<% end %>
</div>
