<%= stylesheet_link_tag "style.css" %>


<div class="card" id="card1">
<div class="card-body">

<h1 class="frase_ricerca"><strong>Search a book from title!</strong></h1>

<%= form_for "", url: books_path, role: "searchtitle", method: :get do  |form| %>
<%= text_field_tag :searchtitle, @search_term_book, id: "campo", placeholder: "Search" %>
<%= form.submit "Search", id: 'bottone1' %>
<%end%>


<h1 class="frase_ricerca"><strong>Search a book from genre!</strong></h1>

<%= form_for "", url: books_path, role: "searchgenre", method: :get do  |form| %>
<%= text_field_tag :searchgenre, @search_term_book, id: "campo", placeholder: "Search" %>
<%= form.submit "Search", id: 'bottone1' %>
<%end%>


<h1 class="frase_ricerca"><strong>Search a book from tag!</strong></h1>

<%= form_for "", url: books_path, role: "searchtag", method: :get do  |form| %>
<%= text_field_tag :searchtag, @search_term_book, id: "campo", placeholder: "Search" %>
<%= form.submit "Search", id: 'bottone1' %>
<%end%>

<h1 class="frase_ricerca"><strong>Search a user from his username!</strong></h1>

<%= form_for "", url: users_path, role: "search", method: :get do  |form| %>
<%= text_field_tag :search, @search_term_user, id: "campo", placeholder: "Search" %>
<%= form.submit "Search", id: 'bottone1' %>
<%end%>
 </div>
 </div>

<h1 class="frase_risultati">Lista dei libri pubblicati:</h1>

<%= link_to "Ordina i libri in base ai like", ordina_path%>

<section class="container">
<div class= "container px-4 px-lg-5 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <% @books.each do |book| %>
    <div class="col mb-5">

          <div class="libro lg-4 md-4">
            <div class="card" style="width: 18rem;"><%= image_tag book.cover.url(:medium), class: "card-img-sm-left" %>
              <div class="card-body" style = "padding: 0.5em 1.2em;">
               <h4 class="card-title h5 h4-sm"><%= book.titolo %></h4>
               <h6 class="card-subtitle mb-2 text-muted">By: <%= book.user.username %></h6>
                 <div class="card-text">
                    Genere: <%= book.genere %>
                 </div>
                 Trama:
                 <br>
              <p class="card-text"><%= book.trama %></p>
                <%= link_to "Leggi", book , class:"card-link" %>
                <br>
               <% if user_signed_in? %>

              <% if current_user.following?(book) %>
                <%= button_to "Rimuovi dai preferiti", unfollow_book_path(book), method: :delete, class: "btn btn-danger" %>

              <% else %>
                <%= button_to "Aggiungi ai preferiti", follow_book_path(book), method: :post, class: "btn btn-success" %>
              <% end %>


                <%end%>

              </div>

            </div>

          </div>
       
    </div>

    <% end %>
   </div>
</div>
</section>


