<%= stylesheet_link_tag "style2.css" %>
<div class="modal-content animate">
<h2 class="frasesign2">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, id:"label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", id:"button2" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
<div class="modal-content animate">
