<%= stylesheet_link_tag "style.css" %>
<h2 class="frase3">Edit <%= resource_name.to_s.humanize %></h2>
<div class="contenitore3">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="sottocontenitore3">
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, id:"labelt3" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"textt3" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :username, id:"labelt3" %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", id:"textt3" %>
  </div>

  <div class="field">
    <%= f.label :password, id:"labelt3" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", id:"textt3" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, id:"labelt3" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id:"textt3" %>
  </div>

  <div class="field">
    <%= f.label :current_password, id:"labelt3" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", id:"textt3" %>
  </div>

  <div class="field">
    <%= f.label :Avatar, id:"labelt3" %><br>
    <%= f.file_field :avatar, id:"file" %>
  </div>

  <div class="actions">
    <%= f.submit "Update",  :id => "botto2" %>
  </div>
  </div>
<% end %>
</div>

<h3 class="frase4">Cancel my account</h3>

<div class="unhappy">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, :id => "botto3" %></div>

<%= link_to "Back", :back, id:"back" %>
